.icon-facebook {
  background: url('~@/assets/icons/icon-facebook.png') no-repeat;
  background-size: 24px 24px;
  overflow: hidden;
  display: inline-block;
}
.icon-twitter {
  background: url('~@/assets/icons/icon-twitter.png') no-repeat;
  background-size: 24px 24px;
  overflow: hidden;
  display: inline-block;
}
